<phpunit
	colors="true"
	>
	<testsuites>
		<testsuite name="Twitter Data Design">
			<file>ProfileTest.php</file>
			<file>TweetTest.php</file>
			<file>FavoriteTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>