<section id="splash" class="splash mt-4">
	<div class="container">
		<div class="row justify-content-center">
			<div id="userInput" class="col-3 align-content-center">
				<div class="form-group align-self-center">
					<select class="form-control">
						<option>Type</option>
					</select>

					<select class="form-control mt-2">
						<option>Abv</option>
					</select>

					<select class="form-control mt-2">
						<option>IBU</option>
					</select>

					<select class="form-control mt-2">
						<option>Distance</option>
					</select>
					<button class="my-4 col-sm-12 justify-content-center" (click)="onClickMe()">Submit</button>
				</div>
			</div>
			<div id="map" class="col-9 align-content-center">
				<ngui-map class="h-100 w-100 align-self-center">

				</ngui-map>
			</div>
		</div>
	</div>

</section>