<section id="hero" class="">
	<div class="container mt-5">
		<div class="row justify-content-center text-center text-light mt-5">
			<h1 class="display-2 mt-5 d-block align-self-center"><strong>onTap</strong></h1>
			<h1 class="display-5 d-block col-12 align-self-center">Tap That!</h1>
			<h3 class="mt-4 align-self-center px-1">Scroll down to find breweries serving the beer you <em>actually</em>
				want to drink.</h3>

		</div>
	</div>
</section>
<section id="splash" class="splash pt-2">
	<div class="container">
		<div class="row justify-content-center mt-1">
			<div id="userInput" class="col-12 col-lg-3 mt-sm-1
				 align-content-center order-last order-lg-first">
				<!--<form>-->

				<div class="form-row form-group mt-2 ">
					<input type="text" class="col-12 form-control mt-2" id="beerStyleInput" aria-describedby="beerStyle"
							 placeholder="IPA, Pilsner...">
					<input type="text" class="col-12 form-control mt-2" id="abvInput" aria-describedby="ABV"
							 placeholder="ABV">
					<input type="text" class="col-12 form-control mt-2" id="ibuInput" aria-describedby="IBU"
							 placeholder="IBU 0-120">
				</div>
				<div class="form-row form-group mt-2">
					<div class="col offset-3 d-inline-block">
						<button class="btn btn-light" (click)="onClickMe()">Submit</button>
					</div>
					<div class="col d-inline-block">
						<button class="btn btn-outline-light align-self-start">Clear</button>
					</div>
				</div>

				<!--</form> -->
			</div>
			<div id="map" class="col-12 col-lg-9 order-first mt-lg-2">
				<ngui-map zoom="12" center="Albuquerque, New Mexico" class="align-self-center my-sm-auto">
					<marker *ngFor="let locationMap of locations | mapToIterable"
							  [position]="[locationMap.val.latitude, locationMap.val.longitude]"
							  (click)="displayLocation(locationMap.val)"></marker>
				</ngui-map>
			</div>
		</div>
		<div *ngIf="pourBeer" class="row mt-sm-1 mt-lg-5">
			<div class="col-12 align-self-center mt-sm-1">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">{{location.profileUsername}} <span class="float-right" (click)="hideCard()"><i
							class="fas fa-times" aria-label="close"></i></span></h5>
					</div>
					<div class="card-body text-center">
						<div *ngFor="let cerveza of filterByBrewery()">
							<div class="d-inline-block col">
								<h6 class="card-subtitle mb-2 text-muted">{{cerveza.beerName}}</h6>
								<p class="card-text">{{cerveza.beerDescription}}</p>
							</div>
							<div class="d-inline-block col">
								<ul>
									<li>Beer Abv: {{cerveza.beerAbv * 100}}&#37;</li>
									<li>Beer IBU: {{cerveza.beerIbu}}</li>
								</ul>
							</div>
						</div>
						<a href="#" class="card-link">Card link</a>
						<a href="#" class="card-link">Another link</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
