<div id="topNav" class="smallHide fixed-top">
	<a id="onTapIcon" routerLink=""
		class="navbar-brand position-absolute fixed-top mt-1 mx-auto d-block text-center w-25"><img src="../../../images/on-tap-balloon.svg" alt="onTap icon" id="on-tap-icon"></a>
	<div class="container fixed-top">
		<div  class="navbar mt-md-2">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" role="button" data-toggle="modal" data-target="#signInModal" id="signInBtn">Sign In</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" role="button" id="signUpBtn" routerLink="sign-up">Sign Up</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container bigHide fixed-bottom">
	<div class="collapse " id="btmNavToggle">
		<div class="d-flex flex-row mb-3 justify-content-around" aria-label="navigation">
			<a routerLink="sign-up" role="button" class="btn btn-light" >Sign Up</a>
			<a routerLink="sign-in" role="button" class="btn btn-light" >Sign In</a>
			<a routerLink="" role="button" class="btn btn-light">Home</a>
		</div>
	</div>
	<nav class="navbar navbar-light justify-content-center">
		<button class="btn navbar-toggler btn-light" type="button" data-toggle="collapse" data-target="#btmNavToggle"
				  aria-controls="btmNavToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
</div>