<!-- Top Nav -->
<div id="topNav" class="smallHide">

	<div class="container">
		<div  class="navbar fixed-top navbar-light">
			<ul class="nav">
				<li class="topItem nav-item">
					<a class="nav-link" role="button" data-toggle="modal" data-target="#signInModal" id="signInBtn">Sign In</a>
				</li>
				<li class="topItem nav-item">
					<a class="nav-link" role="button" id="signUpBtn" routerLink="sign-up">Sign Up</a>
				</li>
				<li class="topItem nav-item">
					<a class="nav-link" role="button" id="homeBtn" routerLink="">Home</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- Bottom Nav -->
<div class="container bigHide fixed-bottom">
	<div class="collapse " id="btmNavToggle">
		<div class="d-flex flex-row mb-3 justify-content-around" aria-label="navigation">
			<a routerLink="sign-up" role="button" class="btn btn-light" >Sign Up</a>
			<a routerLink="sign-in" role="button" class="btn btn-light" >Sign In</a>
			<a routerLink="" role="button" class="btn btn-light">Home</a>
		</div>
	</div>
	<nav class="navbar navbar-light justify-content-center">
		<button class="btn navbar-toggler btn-light" type="button" data-toggle="collapse" data-target="#btmNavToggle"
				  aria-controls="btmNavToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
</div>

