<section id="" class="bg-white py-5">
	<div class="container py-3">
		<div class="row">
			<div class="col-sm-4">
				<img class="img-fluid mb-4 bw" src="" alt="">
			</div>
			<div class="col-sm-8">
				<h1>Brewer Name</h1>
				<h4>Total &#35; of brews</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="list-group">
					<button type="button" class="list-group-item list-group-item-action active">
						Cras justo odio
					</button>
					<button type="button" class="list-group-item list-group-item-action" (click)="onClickMe()">Dapibus ac facilisis in</button>
					<button type="button" class="list-group-item list-group-item-action" (click)="onClickMe()">Morbi leo risus</button>
					<button type="button" class="list-group-item list-group-item-action" (click)="onClickMe()">Porta ac consectetur ac</button>
					<button type="button" class="list-group-item list-group-item-action" (click)="onClickMe()">Vestibulum at</button>
				</div>
			</div>
		</div>
	</div>
</section>


