<section id="" class="bg-white py-5">
	<div class="container py-3">
		<div class="row">

			<div class="col-sm-12 pt-3 mt-2 text-center">
				<h1>La Cumbre</h1>
				<h4>Total of 6 brews</h4>
			</div>
		</div>
		<div class="col-12 align-self-center mt-sm-1">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title text-center">A Slice of Hefen<span class="float-right" (click)="hideCard()"><i
						class="fas fa-times" aria-label="close"></i></span></h5>
				</div>
				<div class="card-body text-center">
						<div class="d-inline-block col">
							<ul>
								<li>Abv: 5.4% </li>
								<li>Ibu: 15 </li>
							</ul>
						</div>
				</div>
			</div>
		</div>
		<div class="col-12 align-self-center mt-sm-1">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title text-center">Pyramid Rock Amber<span class="float-right" (click)="hideCard()"><i
						class="fas fa-times" aria-label="close"></i></span></h5>
				</div>
				<div class="card-body text-center">
					<div class="d-inline-block col">
						<ul>
							<li>Abv: 5.8% </li>
							<li>Ibu: 55 </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 align-self-center mt-sm-1">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title text-center">Elevated Ipa<span class="float-right" (click)="hideCard()"><i
						class="fas fa-times" aria-label="close"></i></span></h5>
				</div>
				<div class="card-body text-center">
					<div class="d-inline-block col">
						<ul>
							<li>Abv: 7.2% </li>
							<li>Ibu: 100 </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 align-self-center mt-sm-1">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title text-center">Malpais Stout<span class="float-right" (click)="hideCard()"><i
						class="fas fa-times" aria-label="close"></i></span></h5>
				</div>
				<div class="card-body text-center">
					<div class="d-inline-block col">
						<ul>
							<li>Abv: 7.5% </li>
							<li>Ibu: 60 </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 align-self-center mt-sm-1">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title text-center">Red Ryot<span class="float-right" (click)="hideCard()"><i
						class="fas fa-times" aria-label="close"></i></span></h5>
				</div>
				<div class="card-body text-center">
					<div class="d-inline-block col">
						<ul>
							<li>Abv: 6.5% </li>
							<li>Ibu: 75 </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 align-self-center mt-sm-1">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title text-center">Project Dank<span class="float-right" (click)="hideCard()"><i
						class="fas fa-times" aria-label="close"></i></span></h5>
				</div>
				<div class="card-body text-center">
					<div class="d-inline-block col">
						<ul>
							<li>Abv: 7.5% </li>
							<li>Ibu: "a lot" </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


