body{
	font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 993px) {
	.smallHide {
		display: none;
	}

	#brandIcon {
		height: 2em;
		width: auto;
	}
}

@media screen and (min-width: 992px) {
	.bigHide {
		display: none;
	}

	#brandIcon {
		display: none;
	}

}