body{
	font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 993px) {
	.smallHide {
		display: none;
	}

	#on-tap-icon {
		height: 2em;
		width: 2em;
	}
}

@media screen and (min-width: 992px) {
	.bigHide {
		display: none;
	}

	#nameBar {
		height: 10vh;
		font-weight:700;
		font-size: 1.8em;
	}

}

.box {
	background-color: #111;
	height: 60vh;
	width: 60vw;
}