/**
 *  onTap App Theme
 * @author Gang of Four, CNM Full Stack Deep Dive, Cohort 20
 **/

/*----- GLOBAL ------*/



body {
	background: no-repeat #fff url("./app/images/ot-big-background.jpg") center center fixed;
	font-family: 'Ubuntu', sans-serif;
}

/*----- NAVBAR -----*/
.smallHide{
	background-color: transparent;
}

/*----- SPLASH -----*/

#splash {
	max-height: 100vh;
	max-width: 100vw;
	height: 100vh;
	width: 100vw;
	background:
		radial-gradient(circle at 50% 0,
		rgba(175,200,206,.00),
		rgba(66,107,128,.6) 70.71%)
}

#hero {
	max-height: 100vh;
	max-width: 100vw;
	height: 100vh;
	width: 100vw;
}

#userInput {
	max-height: 60vh;
	height: 50vh;
}

#map {
	max-height: 60vh;
	height: 40vh;
}

/*------ SIGN UP ------*/



/* Extra small devices (portrait phones, less than 576px) === default */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	#sepBlock{
		height:100vh;
		width: 100vw;
		background-color: white;
	}
	#splash {
		background-color: rgba(175,200,206, .5);
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}



@media screen and (max-width: 766px) {
	.smallHide {
		display: none;
	}

}

@media screen and (min-width: 765px) {
	.bigHide {
		display: none;
	}
	#on-tap-icon {
		height: 2em;
		width: 2em;
	}
}