/**
 *  onTap App Theme
 * @author Gang of Four, CNM Full Stack Deep Dive, Cohort 20
 **/

/* GLOBAL */



body > * {

	background: #fff url("app/images/ot-big-background.jpg") no-repeat center center fixed;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
}

